.App {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100vh, auto);
  grid-template-areas: 
    "left left left right right right right right"
}

@media (max-width: 767px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "left"
      "right"
  }
}

.left-container {
  grid-area: left;
  padding: 1em;
}

.right-container { 
  grid-area: right;
  padding: 1em;
}

.right-container {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
}
